{% extends 'frames/default.html.twig' %}
{% block title %}
basket
{% endblock %}
{% block content %}
<h1>Basket</h1>
<table class="table">
	<tr>
		<th>id</th>
		<th>name</th>
		<th>price(net)</th>
		<th>tax (%)</th>
		<th>price (gross)</th>
		<th>image</th>
	</tr>
	{% for product in basket.products %}
	<tr>
		<td>{{product.id}}</td>
		<td>{{product.name}}</td>
		<td>{{product.price.netto.float}} {{product.price.netto.symbol}}</td>
		<td>{{product.price.tax}}</td>
		<td>{{product.price.gross.float}} {{product.price.gross.symbol}}</td>
		<td><img src="{{product.image.icon }}" /></td>
	</tr>
	{% endfor %}
</table>
<form method="post">
	<select class="form-control form-control-lg">
		<option value="" disabled selected>Payment method</option>
		{% for key,payment in payment_methods %}
		<option value="{{ key }}">{{ payment.name }}</option>
		{% endfor %}
	</select> <input type="hidden" name="store" value="1" /> <input type="submit"
		class="btn btn-primary" value="Order" />
</form>
{% endblock %}