{% extends 'frames/default.html.twig' %}
{% block title %}
product overview
{% endblock %}
{% block content %}
<div class="card-columns">
	{% for product in products %}
	<div class="card" style="width: 18rem;">
		<img class="card-img-top" src="{{ product.getImage.getThumbnail }}"
			alt="Card image cap">
		<div class="card-body">
			<h5 class="card-title">
				{{ product.getName }}
				<i>({{ product.getColor }})
				</i>
			</h5>
			<span class="card-text"> <b>price:</b>
				<ul>
					<li>{{ product.getPrice.getNetto.getFloat }} {{ product.getPrice.getNetto.getSymbol }}
						<i>(net)</i></li>
					<li>{{ product.getPrice.getGross.getFloat }} {{ product.getPrice.getGross.getSymbol }}
						<i>(gross)</i>, Tax: {{ product.getPrice.getTax }} %</li>
				</ul>
			</span>
			<form action="{{ add_to_basket.url }}" method="post">
				<input type="hidden" name="add" value="{{ product.id }}" />
				<input type="submit" class="btn btn-primary" value="Add to basket" />
			</form>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}